<div class="container">
    <div class="inputsContanier">
        <h1>Regester</h1>

        <div class="inputContainer">
            <p>Email</p>
            <input id="mail" type="email" placeholder="Your Email" class="input"/>
        </div>

        <div class="inputContainer">
            <p>Password</p>
            <input id="password" type="password" placeholder="Your Password" class="input"/>
        </div>

        <button class="button" (click)="regesterUser()" type="submit">Regester</button>

    </div>

    <div class="imgContainer">
        <img alt="Regester Image" src="../../../../assets/images/regesterImage.jpg" width="400" > 
    </div>

</div>