.mainContainer{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    div:nth-child(1){
        flex-grow: 1;
    }
    .footer {
        flex-shrink: 0;
        margin-top: auto;
        position: absolute;
        bottom: 0;
    }
}

.darkMode{
    background: #111;
    color: #fff;
}
