<section class="container">
    <div class="headerContent">
        <h3>Capture tasks quickly using natural language recognition</h3>
    </div>
    <div class="contentContainer">
        <div class="content">
            <!-- <h2>Benfits of the application</h2> -->
            <div class="seacureContainer">
                <i class="bi bi-shield-check"></i>
                <h2>Seacure</h2>
                <p>Your data is secure. We use industry-standard encryption and security measures to protect your information.</p>
    
            </div>
    
            <div class="organizeContainer">
                <i class="bi bi-sort-alpha-up"></i>
                <h2>Organize It All</h2>
                <p>One app, endless organization. Oranized keeps you on top of life.</p>
            </div>

            <div class="easyToUseContainer">
                <i class="bi bi-emoji-smile"></i>
                <h2>Easy To Use</h2>
                <p>Using our website is like riding a bike. Once you get the hang of it, it's a breeze!</p>
            </div>
        </div>
    </div>
</section>