<header class="container" [class.navForDashboard]="navControl">
    <div class="content">
        <div class="logoContainer">
            <a routerLink="/" class="logo"><h2>Omar Wael</h2></a>
        </div>
        <div class="listLabel" (click)="openMenu()"><i class="pi pi-bars"></i></div>

        <!-- For Desktops -->
        <div class="linksContainer" [class.mobile_menu]="menuValue">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><button class="button" routerLink="/login">Login</button></li>
                <li><button class="button" routerLink="/regester">Regester</button></li>
            </ul>
        </div>


    </div>
</header>