<div class="container">
    <div class="inputsContanier">
        <h1>Login</h1>

        <div class="inputContainer">
            <p>Email</p>
            <input id="mail" type="email" placeholder="Your Email" class="input"/>
        </div>

        <div class="inputContainer">
            <p>Password</p>
            <input id="password" type="password" placeholder="Your Password" class="input"/>
        </div>

        <button class="button" (click)="loginUser()" type="submit">Login</button>

    </div>

    <div class="imgContainer">
        <img alt="Login  Image" src="../../../../assets/images/loginImage.png" width="400" > 
    </div>

</div>