<footer>
    <div class="content">
        <div class="copyRightsContainer">
            <h2><a routerLink="/">Omar Wael</a></h2>
            <p>Copyright © 2024 Omar Wael </p>
            <p>All Rights Reserved</p>
            
            <div class="socialMediaContainer">
                <div >
                    <a><i class="bi bi-facebook"></i></a>
                </div>
                <div >
                    <a><i class="bi bi-instagram"></i></a>
                </div>
                <div >
                    <a><i class="bi bi-facebook"></i></a>
                </div>
            </div>
        </div>
        <div class="navigatesContainer">
            <h2>Company</h2>
            <ul>
                <li><a >Home</a></li>
                <li><a >Login</a></li>
                <li><a >Regester</a></li>
            </ul>
        </div>
    </div>
</footer>
