footer{
    width: 100%;
    color: #111;
    display: flex;
    .content{
        display: flex;
        gap: 50px;
        width: 80%;
        a{
            color: #111;
            width: max-content;
        }
        .socialMediaContainer{
            display: flex;
            div{
                width: 40px; 
                height: 40px; 
                border: #111 1px solid; 
                border-radius: 50%; 
                display: flex; 
                justify-content: center; 
                align-items: center;
                margin-bottom: 10px;
              }
        }
    }
    
    
}
