<section class="container">
    <!-- List container on the left -->
    <div class="listsContainer">
        <!-- The search bar and the button -->
        <div class="controlContainer">
            <!-- <button><i class="pi pi-bars"></i></button> -->
            <!-- The nav -->
            <div class="nav">
                <h2>Omar Wael</h2>
            </div>
            <input placeholder="Search ..." [(ngModel)]="searchValue" type="text" class="input"/>
            <button class="button" (click)="openPopUpList()">Add List</button>
        </div>

        <!-- The buttons for lists -->
        <div class="lists">
            <div *ngFor="let list of lists | searchPipe : searchValue" class="listContainer" >
                <div (click)="getListTasks()" [routerLink]="'/dashboard?id=' + list.listId" class="listNameContainer">
                    <h3>{{list.listName}}</h3>
                </div>
                <div class="controllContainer">
                    <button (click)="updateList(list)"><i class="pi pi-pencil"></i></button>
                    <button (click)="deleteList(list.listId)"><i class="pi pi-trash"></i></button>
                </div>
            </div>
        </div>

        <!-- Settings Button -->
        <button class="button settings" [routerLink]="urlSettings"><i class="pi pi-cog icon"></i> Settings</button>
    </div>

    <!-- The container which contain the tasks of the list and the nav -->
    <div class="secContainer">

        <!-- The container which contain the tasks -->
        <div class="contentTasks">
            <!-- Conditions -->
                <!-- First if the url  = /dashboard -->
                @if(url == "/dashboard"){
                        <img alt="Dashboard" src="../../../../assets/images/dashboardImage.png">
                        <h3>There is no choosed list. Please choose a list</h3>
                }

                <!-- Second if the url = /dashboard?page=settings -->
                @if(url == "/dashboard?page=settings"){
                    <div class="settingsContainer">
                        <div class="darkMode">
                            <h3>Dark Mode</h3>
                            <p-inputSwitch class="switch" [(ngModel)]="darkModeCheck" (onChange)="darkMode()"/>
                        </div>
                        <div class="logOut">
                            <button class="button" (click)="logOut()">Log Out</button>
                        </div>
                    </div>
                }

                <!-- Third condtion of the ids -->
                @if(url != "/dashboard?page=settings" && url != "/dashboard" && tasks.length  > 0){
                        <div class="tasksContainer">
                            @for(task of tasks; track task){
                            <div class="taskContainer">
                                <h3>{{task.itemName}}</h3>
                                <div class="checkbox">
                                    <p-checkbox [binary]="true" (onChange)="taskCheck(task)" [(ngModel)]="task.checked" placeholder="Check"/>
                                    <button (click)="deleteTask(task.itemId)"><i class="pi pi-trash"></i></button>
                                </div>

                            </div>
                            }
                            <button class="button" (click)="openPopUpTask()">Create Task</button>
                        </div>

                    
                }

                <!-- For the lists which doesn't have tasks -->
                @if(tasks.length  === 0 && url != "/dashboard" && url != "/dashboard?page=settings"){
                    <div class="noTaskContainer">
                        <img src="../../../../assets/images/sorryForTasks.png" alt="Sorry Image">
                        <h2>There is No Tasks</h2>
                        <button class="button" (click)="openPopUpTask()">Create Task</button>
                    </div>
                    
                }
        </div>
    </div>

    <app-pop-up [taskData]="" (submitDataOfListUpdate)="updateListData($event)" (submitDataOfList)="ListData($event)" (submitDataOfTask)="TaskData($event)" [listId]="listId"></app-pop-up>

</section>